
/*

---------------------------------------------------------         CONFIGURACIONES GENERALES DEL INICIO           -------------------------------------------------------------------------------

*/

* {
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
/*

---------------------------------------------------------                CONFIGURACION DEL HTML GENERAL           -------------------------------------------------------------------------------

*/
html {
    font-family: "Lucida Sans", sans-serif;
    font-size: 20px;
    color: white;
}
body{
    background-color: black;
    background-image: url("../assets/local/clocks.jpg");
}
/*

---------------------------------------------------------              CONFIGURACIONES DEL NAV                    -------------------------------------------------------------------------------

*/

nav{
    top: 0;
    border-radius: 2em;
    z-index: 100;
    position: fixed;
    height: 8em;
    left: 10%;
    width: 80%;
    color: #ffffff;
    background-image: url("../assets/local/amber.jpg");
    background-color: #ffaa00;
    background-size: 100% 100%;
}

nav div p{
    left: 25%;
    top: 50%;
    position: fixed;
    font-size: 15px;
}

nav div img.photo{
    top: 5px;
    z-index: 1000;
    left: 12%;
    width: 90px;
    height: 90px;
    position: fixed;
}

nav div .profile{
    position: fixed;
    z-index: 10;
    top: 20px;
    left: 77%;
    width: 50px;
    height: 50px;
}

nav div.init{
    border-radius: 2em;
    z-index: 2;
    position: fixed;
    left: 73%;
    top: 56px;
    background-image: url(../assets/local/blue.jpg);
    background-color: #ffaa00;
    background-size: 100% 100%;
    width: 12%;
    height: 40px;
}

nav div ul{
    position: fixed;
    width: auto;
    left: 35%;
    font-size: 14px;
    top: 80px;
}

nav div ul li{
    list-style: none;
    display: inline;
    padding-left: 20px;
}

nav div>p{
    font-size: 30px;
    position: fixed;
    top: 5px;
    left: 40%;
}


nav div ul li.date{

    display: block;

}

nav div p.log{
    position: absolute;
    font-size: 20px;
    top: -5px;
    left: 26%;
}
nav div ul.list{
    left: 75%;
    top: 85px;
}
nav ul+div{
    position: fixed;
    background-color: transparent;
    background-image: none;
    top: 15%;
}

nav div p a{
text-decoration: none;
    color: white;
    font-size: 12px;
}
/*

---------------------------------------------------------                     CONFIGURACIONES DEL SECION         -------------------------------------------------------------------------------

*/
section{
    padding-top: 8em;
    /**/

}
section.error{
    background-color: #333333;
    background-image: none;

}
section *{
    color: white;
}

p+img {
    width: 100%;
    max-width: 10em;
    height: auto;
}
input, select, textarea {
    color: #f7fafc;
    background-color: #1a202c;
}


/*

---------------------------------------------------------                  configuraciones galeria                -------------------------------------------------------------------------------

*/
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}
.gallery__item img{
    width: 100%;
    height: 100%;
    min-width: 100%;
    object-fit: fill;
    content: url("../assets/local/foca.jpg");
}
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.gallery__item:hover .img__description {
    visibility: visible;
    opacity: 1;
}
.imageCenter {
    text-align: center;
    display: block;
}
/*

---------------------------------------------------------                 configuraciones aside                   -------------------------------------------------------------------------------

*/
.aside {
    background-image: url("../assets/local/blue.jpg");
    background-color: #4d45ba;
    border-radius: 2em;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside:hover{
    background-color: black;
    background-image: none;
}

/*

---------------------------------------------------------              configuracion footer                      -------------------------------------------------------------------------------

*/
footer {
    text-align: center;
}

footer .contact_us {
    font-size: 12px;
    border-radius: 2em;
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px;
    top: 90%;
}

footer .contact_us p {
    font-size: 22px;
    font-weight: 300;
}


/* para los emoticonos

.content-3 .glyphicon,	.page-footer .contact .glyphicon {
	font-size: 32px;
	font-weight: 700;
	}
*/

footer .copyright {
    background-color: black;
    margin-top: 1%;
    border-radius: 2em;
    border: black 2px solid;
    padding: 50px 0 40px;
    font-weight: 300;
}

footer .contact_us p {
    font-size: 22px;
    font-weight: 300;
}


/* para los emoticonos

.content-3 .glyphicon,	.page-footer .contact .glyphicon {
	font-size: 32px;
	font-weight: 700;
	}
*/

footer .copyright {
    margin-top: 1%;
    border-radius: 2em;
    border: black 2px solid;
    padding: 50px 0 40px;
    font-weight: 300;
}

/*

----------------------------------------------- Listados ------------------------------------------------

 */
section.list_templates{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}
section.list_templates>div{
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    top: 30px;
    left: 50px;
    width: 90%;
    height: auto;
background-color: white;
}
section.list_templates>div.search{
    background-color: transparent;
}
section.list_templates div select{
    position: relative;
    background-color: white;
    color: black;
    left: 238px;

}
section.list_templates div select option{
    color: black;
    background-color: white;
}

section.list_templates div select+input{
    position: relative;
    left: 233px;
    background-color: white;
    width: 300px;
    color: black;
}
section.list_templates div input+input{
    position: relative;
    color: black;
    background-color: white;
    left: 227px;
}
section.list_templates div table{
    position: relative;
    left: 10px;
}
section.list_templates div table tr td{
    color: black;
    padding-left: 80px;
}

/*

---------------------------------------------------------               botones & hipervinculos    --------------------------------------------------------

*/


.errorButton {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    font-size:  2em;
    border-radius:1em;
    border:0.2em solid #000000;
    display:inline-block;
    cursor:pointer;

    font-family: Arial, serif;
    font-weight:bold;
    padding:1em 2em;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    color: #ff6c00;
}
.errorButton:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffbc47;
}
.errorButton:active {
    position:relative;
    top:1px;
}


.col-md-6 button {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    font-size:  15px;
    border-radius:1em;
    border:0.2em solid #000000;
    display:inline-block;
    cursor:pointer;
    align-content: center;

    font-family: Arial, serif;
    font-weight:bold;
    padding:1em 2em;
    text-decoration:none;
    text-shadow:0px 1px 0px white;
    color: black;

    width: 150px;
    margin-left: 55%;
}
.col-md-6 button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffbc47;
}
.col-md-6 button:active {
    position:relative;
    top:1px;
}
.forgot-pass {
    font-size: 15px;
}
.standard {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.standard:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.standard:active {
    position:relative;
    top:1px;
}

/*

<<<<<<< HEAD
---------------------------------------------------------                 configuraciones login                   -------------------------------------------------------------------------------

*/
.py-4{
    position: relative;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-left: 35%;
}
.card{
    background-color: white;
    color: black;
    border-radius: 2em;
}

.card-header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.col-md-6 input {
    border-radius: 2em;
}
/*
---------------------------------------------------------               configuraciones de colores y textos   --------------------------------------------------------

*/
div.center *{
    width: 50%;
    margin: 0 auto;
    text-align: center
}
.withBackground {
    color: #f7fafc;
    background-color: #1a202c;


}

.form-check-label{
    font-size: 15px;
}

.img-logo-circular img{
    width: 100%;
    max-width: 10em;
    height: auto;
    align-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*

---------------------------------------------------------               configuraciones finales y adaptadores segun tamaño de screen     --------------------------------------------------------

*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px){
    * {
        font-size: 12px;
    }
    footer{
        background-color: black;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
